{% extends 'base.html.twig' %}

{% block title %}Test index{% endblock %}

{% block body %}
<div class="main">
    <div class="container my-5">
        <h3 class="header">Test index</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td>{{ test.id }}</td>
                <td>{{ test.name }}</td>
                <td>{{ test.price }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>

{% endblock %}